DATABASE_URL="mysql://johndoe:randompassword@localhost:3306/mydb"
# require('crypto').randomBytes(64).toString('hex') to generate a secret, make sure to create a new one for production
TOKEN_SECRET="secret"

